#login {
	width: 80vw;
	height: auto;
	min-height: 80vh;
	padding: var(--card-padding);
}

#login fast-card {
	width: fit-content;
	padding: 0px 5px;
}

@media screen and (max-width: 1200px) {
	#login {
		width: 100vw;
	}
	#login > fast-card {
		width: 100%;
	}
}
